.histogram-slider-wrapper {
  height: 40px;

  &.tall {
    height: 100px;
  }

  .histogram-slider-container {
    height: 100%;
  }

  .histogram-container {
    height: calc(100% - 17px);
  }

  .histogram-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    .bar rect {
      fill: #E5EFF5;
    }
  }

  .slider-container {
    display: block;
    width: 100%;
    height: 17px;
    overflow: overlay;

    .track-background {
      width: 100%;
      height: 10px;
      fill: #E6E6E6;
    }

    .active-track {
      height: 10px;
      fill: #17479D;
    }

    .handle {
      y: -9px;
      width: 25px;
      height: 25px;
      rx: 25px;
      ry: 25px;
      stroke: #17479D;
      fill: white;
      cursor: pointer;
    }
  }

  .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      margin: 0;
      font-size: 12px;
      line-height: 12px;
      font-family: "Open Sans";
      color: #555;
    }
  }
}
